# ignore .git and .cache folders
.git
.cache

## Node

package-lock.json
Dockerfile
docker-compose.*

node_modules

## Editors

.vscode
.editor*

# ignore all markdown files (md) beside all README*.md other than README-secret.md
*.md
!README*.md

# bundles
*.bundle

