<div class="p-5">
  <mat-card class="">
    <app-search-form (searchTerm)="search($event)"></app-search-form>
    <mat-card-content class="w-100">
      <div fxLayout="column" fxLayoutAlign="start space-around" class="list-container"
        >
        <div class="item-list" *ngFor="let itemHero of dataSource"
        @fadeSlideInOut >
        <div class="mb-2">
          <mat-card >
            <div fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center"
              fxLayoutAlign.xs="center space-between">

              <div class="w-60">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    <div>{{ itemHero.name }}</div>
                    <div class="real-name">{{ itemHero.realName }}</div>
                    <div class="group">{{ itemHero.group }}</div>
                  </div>
                  <div>
                    {{ itemHero.publisher }}
                  </div>
                </div>
              </div>
              <div fxflex>
                <button mat-icon-button color="accent" (click)="editHero(itemHero)">
                  <mat-icon> edit </mat-icon>
                </button>
                <app-delete-dialog [hero]="itemHero" (deleteHero)="deleteHero($event)">
                </app-delete-dialog>
              </div>
            </div>
          </mat-card>
        </div>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <mat-paginator class="mat-elevation-z2" #paginator [length]="herosTotal" [pageSize]="rows"
        [pageSizeOptions]="pageSizeOptions" (page)="changePage($event.pageIndex, $event.pageSize)"
        aria-label="Select page">
      </mat-paginator>
    </mat-card-actions>
  </mat-card>
</div>