<div class="w-80 m-auto">
    <mat-card>
        <mat-card-title>Edit Hero</mat-card-title>
        <mat-card-subtitle>{{hero?.name}}</mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="form" >

                <div fxLayout="column" fxLayoutAlign="space-between center"  class="w-80 m-auto">
                    <!--id field-->
                    <mat-form-field appearance="fill" class="w-100">
                      <mat-label>ID</mat-label>
                      <input matInput 
                      [errorStateMatcher]="matcher"
                       formControlName="id" >
                      <mat-error *ngIf="hasError('id','required')">{{ msgRequied }}</mat-error>
                    </mat-form-field>
                    <!--name field-->
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Superhero Name"
                        [errorStateMatcher]="matcher"
                         formControlName="name" required >
                        <mat-error *ngIf="hasError('name','required')">{{ msgRequied }}</mat-error>
                      </mat-form-field>
                    <!--real name field-->
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Real Name</mat-label>
                        <input matInput placeholder="Every day name"
                        [errorStateMatcher]="matcher"
                         formControlName="realName" required>
                        <mat-error *ngIf="hasError('realName','required')">{{ msgRequied }}</mat-error>
                      </mat-form-field>
                    <!--publisher field-->
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Publisher</mat-label>
                        <input matInput placeholder="The Editor"
                        [errorStateMatcher]="matcher"
                         formControlName="publisher" required>
                        <mat-error *ngIf="hasError('publisher','required')">{{ msgRequied }}</mat-error>
                      </mat-form-field>
                    <!--group field-->
                      <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Known Group</mat-label>
                        <input matInput placeholder="The band's name" 
                        [errorStateMatcher]="matcher"
                        formControlName="group">
                      </mat-form-field>
                </div>
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div  class="text-center">
                <button mat-raised-button
                (click)="back()">Cancel</button>

                <button mat-raised-button
                 color="primary"
                [disabled]="form.invalid"
                (click)="update()">Update Hero</button>
            </div>
        </mat-card-actions>
      </mat-card>
</div>
