
<div *ngIf="open;else buttonTemplate">

    <div id="backgroud-panel">
        <div id="frame">
            <mat-card class="w-100">
                <button mat-raised-button color="warn" 
                class="m-1"
                (click)="confirm()">
                Delete {{ hero.name }}?
            </button>
            <button mat-raised-button (click)="cancel()"
            class="m-1">
                Cancel
            </button>
            </mat-card>
        </div>
    </div>
</div>
<ng-template #buttonTemplate>
    <button mat-icon-button color="warn"
    (click)="openFrame()">
        <mat-icon>
          delete
        </mat-icon>
      </button>
</ng-template>
    